<div class="teams-container">
  <h4>Teams</h4>
  <%= link_to('New Team', new_team_path, class: "btn-new-team") %></p>
  <div class="teams">
    <% @teams.each do |t| %>
      <%= link_to team_path(t) do %>
        <div class="team">
          <div class="team-description">
            <p><%= t.name %></p>
            <p class="team-members">5 members</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>