<div class="user-container">
  <h4>Hello, <%= current_user.name %>!</h4>
  <%= link_to("Edit Profile", edit_user_path(current_user), class: "btn-edit-profile") %>

  <h5>Your Stars</h5>

  <% current_user.stars.each do |s| %>
    Star given for work on <%= s.project.title %>
  <% end %>

</div>

