// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.login_container {
  width: 80%;
  margin: 100px auto;
  padding: 30px;
  background-color: $background-color;
  text-align: center;
}

.btn_google {
  width: 175px;
}

%feed-header-shared {
  font-size: 20px;
  font-family: "proxima_nova_bold";
  margin: 5px 0;
  display: inline-block;
}

.feed-header {
  @extend %feed-header-shared;
}

.feed-sub-header {
  display: inline-block;
  font-size: 14px;
  color: $font-light-color;
  margin-left: 10px;
}

.feed-right-header {
  @extend %feed-header-shared;
  vertical-align: top;
  float: right;
  line-height: 35px;
  font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7790a3;
  opacity: 1; /* Firefox */
}

.feed-container {
  .feed-searchbar-container {
    box-shadow: 0 4px 6px 0 rgba(175, 199, 209, 0.4);
    background-color: white;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 30px;

    .search-icon {
      margin-top: 7px;
      height: 28px;
      margin-left: 2%;
      margin-right: 0.5%;
      width: 5%;
    }

    .feed-searchbar {
      vertical-align: top;
      width: 90%;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      border: none;
      outline: none;
      font-family: "proxima_nova_bold";
    }
  }

  .feed-left {
    margin-right: 10px;
    display: inline-block;
    width: calc(50% - 10px);

    .top-exp-persons {
      box-shadow: 0 4px 6px 0 rgba(175, 199, 209, 0.4);
      background-color: white;
      border-radius: 4px;
      padding: 15px;
      margin-bottom: 20px;

      .top-person {
        height: 50px;
        clear: both;
        img {
          height: 34px;
          margin-top: 2px;
          margin-right: 10px;
          border-radius: 50%;
          display: inline-block;
        }
        .top-person-description {
          display: inline-block;
          vertical-align: top;
          p {
            font-size: 14px;
            font-family: "proxima_nova_semibold";
            margin: 0;
            color: $font-color;
          }
          .top-person-role-team {
            font-size: 12px;
            font-family: "Proxima Nova";
            color: $font-light-color;
            margin: 0;
          }
        }
        span {
          margin-top: 2px;
          vertical-align: top;
          font-size: 14px;
          font-family: "proxima_nova_semibold";
          float:right;
        }
      }
    }

    .top-projects {
      box-shadow: 0 4px 6px 0 rgba(175, 199, 209, 0.4);
      background-color: white;
      border-radius: 4px;
      padding: 15px;
      .top-project {
        height: 50px;
        clear: both;
        .top-project-description {
          display: inline-block;
          vertical-align: top;
          p {
            font-size: 14px;
            font-family: "proxima_nova_semibold";
            margin: 0;
            color: $font-color;
          }
          .top-project-collaborators {
            font-size: 12px;
            font-family: "Proxima Nova";
            color: $font-light-color;
            margin: 0;
          }
        }
        span {
          color: $font-color;
          margin-top: 2px;
          vertical-align: top;
          font-size: 14px;
          font-family: "proxima_nova_semibold";
          float:right;
        }
      }
    }
  }

  .feed-right {
    vertical-align: top;
    margin-left: 10px;
    display: inline-block;
    width: calc(50% - 10px);

    .feed-updates {
      box-shadow: 0 4px 6px 0 rgba(175, 199, 209, 0.4);
      background-color: white;
      border-radius: 4px;
      padding: 15px;

      .feed-header {
        margin-top: 10px;
      }
    }
  }
}