// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.login_container {
  width: 80%;
  margin: 100px auto;
  padding: 30px;
  background-color: $background-color;
  text-align: center;
}

.btn_google {
  width: 175px;
}